<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"></bean>

	<!-- 缓存管理 -->
	<bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager"></bean>

	<!-- 授权 认证 -->
	<bean id="jdbcRealm" class="cn.edu.hdu.ssd.core.shiro.UserRealm"></bean>

	<!-- Shiro安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="jdbcRealm"></property>
		<property name="cacheManager" ref="cacheManager"></property>
	</bean>

	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">

		<property name="securityManager" ref="securityManager"></property>
		<property name="loginUrl" value="/security/view/login"></property>
		<property name="successUrl" value="/successUrl"></property>
		<!-- 用户访问未对其授权的资源时，所显示的连接 -->
		<property name="unauthorizedUrl" value="/unauthorizedUrl"></property>
		<property name="filters">
			<map>
				<entry key="anyRoles">
					<bean class="cn.edu.hdu.ssd.core.shiro.AnyRolesAuthorizationFilter" />
				</entry>
			</map>
		</property>
		<property name="filterChainDefinitions">
			<value>
				/security/**=anon
				/test/**=roles[role1]
				/users/**=anyRoles[admin,role1]
				/**=authc
			</value>
		</property>
	</bean>

</beans>